<footer class="footer py-4 abajo">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">
                <img src="ico/footer.svg" alt="" height="100px">
            </div>
            <div class="col-lg-8 text-lg-end">
                <a class="link-light text-decoration-none" href="#!">Terminos legales |</a> 
                <a class="link-light text-decoration-none" href="#!">Politicas de privacidad |</a>
                <a class="link-light text-decoration-none" href="#!">Cokies |</a>
                <a class="link-light text-decoration-none" href="#!">Accesibilidad |</a>
                <a class="link-light text-decoration-none" href="#!">Centro de Ayuda</a>
            </div>
        </div>
    </div>
</footer>