<div class="bg-back-body-green"></div>
<header>
    <nav class="navbar navbar-expand-lg navbar-custom bg-aqua-green navbar-custom-height">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="ico/marca.svg" alt="Bootstrap" width="70">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav d-flex justify-content-center">
                    <li class="nav-item "><a class="btn bg-btn-aqua-green mx-2" href="adopcion.html">Adopciones</a></li>
                    <li class="nav-item"><a class="btn bg-btn-aqua-green mx-2" href="voluntariado.html">Voluntariado</a></li>
                    <li class="nav-item"><a class="btn bg-btn-aqua-green mx-2" href="#">Requisitos</a></li>
                    <li class="nav-item"><a class="btn bg-btn-aqua-green mx-2" href="#">Educación y Consejos</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex">
                    <li class="nav-item square-button">
                        <a class="btn bg-btn-img-aqua-green mx-2 square-button" href="#">
                            <img src="ico/registro.svg" alt="Bootstrap" width="70">
                        </a>
                    </li>
                    <li class="nav-item square-button">
                        <a class="btn bg-btn-img-aqua-green mx-2 square-button" href="#">
                            <img src="ico/busqueda.svg" alt="Bootstrap" width="70">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="bg-back-body-yellow"></div>